.dropdown__list {
  display: none;
}

.dropdown__item {
  text-align: center;
}

.dropdown__link {
  .text(16px; 19.6px; @white; normal);

  &:hover {
    color: rgb(@white, 0.5);
  }

  &:active {
    color: @active-link;
  }
}
