//Color

@white: white;
@text-color: #004460;
@active-link: #20AFFF;
@nav-link: #b9b9b9;

@background1: #0099EF;
@bacground2: #12033C;

@header-line: #EBEBEB;
@grey-line: #D0D5D9;

//Viewports

@desktop-width: 1919px;
@tablet-width: 1000px;
@mobile-tablet: 700px;
@mobile-width: 320px;
